@mixin m-box-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}

@mixin m-layout-center($width: 1390px) {
        margin: 0 auto;
        width: $width;
}