$color-vivid--yellow: #ffde00;
$color-vivid--red: #cf2e2e;
$color-vivid--purple: #9b51e0;
$color-white: #FFFFFF;
$color-footer: #292825;
$color-font: #8c9597;

$font-size--normal: 16px;
$font-size--big: 3rem;
$font-size--huge: 4rem;
$font-size--biggest: 5rem;

$font-weight--biggest: 700;


$spacing--20: 0.44rem;
$spacing--30: 0.67rem;
$spacing--40: 1rem;
$spacing--50: 1.5rem;
$spacing--60: 2.25rem;
$spacing--70: 5.06rem;

$button-border-width: 4px;
