.u-layout-center {
    margin: 0 auto;
    width: 968px;
}

.u-margin-top-normal {
    margin-top: $spacing--30;
}

.u-margin-top-huge {
    margin-top: $spacing--60;
}

.u-text-align-center {
    text-align: center;
}



.u-space-evenly {
    justify-content: space-evenly;
}