.header {
    background-image: url($front-page-header);
    height: 95vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;

    &__text-box {
        @include m-box-center;
        color: $color-white;
    }

}