<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Multi Tags</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <h1><i class="fa fa-tags" aria-hidden="true"></i> Tags</h1>
    <div class="container" id="multiSelectContainer">
        <div class="tags">
            <div class="tag">
                <span>HTML</span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
    
            <div class="tag">
                <span>HTML</span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
    
            <div class="tag">
                <span>HTML</span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
    
            <div class="tag">
                <span>HTML</span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
    
            <div class="tag">
                <span>HTML</span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="tag">
                <span>HTML</span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="tag">
                <span>HTML</span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="tag">
                <span>HTML</span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <div class="tag">
                <span>HTML</span>
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
            <input type="text" id="inputSearch" class="input" placeholder="Input To Search" />
        </div>
        <div class="main-tags" id="mainTags" style="display: none;">
            <div class="header-tags">
                <h3>
                    <span id="tagLeft">5</span>
                    Tags Left
                </h3>
                <div class="func">
                    <button>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Remove All
                    </button>
                    <button>
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Close
                    </button>
                </div>
            </div>
            <div class="main-container-tags">
                <div class="select-item">
                    <input type="checkbox" class="cbSelectItem" />
                    <label>Html</label>
                </div>
                <div class="select-item">
                    <input type="checkbox" class="cbSelectItem" />
                    <label>Html</label>
                </div>
                <div class="select-item">
                    <input type="checkbox" class="cbSelectItem" />
                    <label>Html</label>
                </div>
                <div class="select-item">
                    <input type="checkbox" class="cbSelectItem" />
                    <label>Html</label>
                </div>
                <div class="select-item">
                    <input type="checkbox" class="cbSelectItem" />
                    <label>Html</label>
                </div>
                <div class="select-item">
                    <input type="checkbox" class="cbSelectItem" />
                    <label>Html</label>
                </div>
                <div class="select-item">
                    <input type="checkbox" class="cbSelectItem" />
                    <label>Html</label>
                </div>
            </div>
            <div class="footer-tags">
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="./scripts.js" type="module"></script>
</body>
</html>